@use "variables" as variables;

@mixin titleSocialsMedia($className) {
  .#{$className} {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: variables.$size-gap-mobile;
    width: 91%;
    @if $className == "footer" {
      padding-bottom: variables.$size-margin-mobile * 4;
      &__p {
        font-size: variables.$size-logo-mobile;
      }
    } @else {
      margin-top: variables.$size-margin-mobile;
      &__h1 {
        font-size: variables.$size-logo-mobile;
      }
    }
    &__ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 55%;
      max-width: 15.625rem;
      .ul__li {
        display: inline-flex;
      }
    }
  }

  .li__a {
    display: inline-flex;
    .a__svg {
      display: inline-block;
      width: 1.5625rem;
      height: 1.5625rem;
    }
  }

  @media screen and (width >= variables.$breakpoint-mobile) {
    .#{$className} {
      gap: 1.25rem;
      @if $className == "footer" {
        padding-bottom: (variables.$size-margin-mobile + 0.625) * 5;
        &__p {
          font-size: variables.$size-logo-mobile + 0.25rem;
        }
      } @else {
        margin-top: variables.$size-margin-mobile + 0.625rem;
        &__h1 {
          font-size: variables.$size-logo-mobile + 0.25rem;
        }
      }
    }
  }
}

@mixin backgroundImage($top, $bottom, $left, $right, $width, $height, $url) {
  content: "";
  position: absolute;
  top: $top;
  bottom: $bottom;
  left: $left;
  right: $right;
  z-index: -10;
  display: block;
  width: $width;
  height: $height;
  background-image: url($url);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
