@use "variables" as variables;

@mixin titleSocialsMedia {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 91%;
  .div__ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55%;
    max-width: 15.625rem;
    .ul__li {
      display: inline-flex;
    }
  }
  .li__a {
    display: inline-flex;
    .a__svg {
      display: inline-block;
      width: 1.5625rem;
      height: 1.5625rem;
    }
  }

  @media screen and (width >= variables.$breakpoint-mobile) {
    gap: 1.25rem;
  }
}

@mixin flexCol($gap) {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $gap;
}

@mixin imageEllipse {
  content: "";
  position: absolute;
  z-index: -10;
  display: inline-block;
  width: 33.125rem;
  height: 8.0625rem;
  background-image: url("https://res.cloudinary.com/dbbixakcl/image/upload/f_auto,q_auto/v1/Portafolio/l9iwfpddjdp5koctwmb2");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@mixin imageCircle {
  content: "";
  position: absolute;
  z-index: -10;
  display: inline-block;
  width: 8.0625rem;
  height: 8.0625rem;
  background-image: url("https://res.cloudinary.com/dbbixakcl/image/upload/f_auto,q_auto/v1/Portafolio/zdc4tyehk77tk1zfduxr");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@mixin typographyTitles {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 1.875rem;

  @media screen and (width >= variables.$breakpoint-mobile) and (width < variables.$breakpoint-mobile-two) {
    font-size: 2.1rem;
    line-height: 2.1rem;
  }

  @media screen and (width >= variables.$breakpoint-mobile-two) and (width < variables.$breakpoint-tablets) {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  @media screen and (width >= variables.$breakpoint-tablets) and (width < variables.$breakpoint-desktops) {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }

  @media screen and (width >= variables.$breakpoint-desktops) {
    font-size: 4.5rem;
    line-height: 4.5rem;
  }
}

@mixin typographySubtitles {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.75rem;
  text-transform: uppercase;
  @media screen and (width >= variables.$breakpoint-mobile) {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

@mixin typographyParagraphs {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5rem;
  text-align: center;

  @media screen and (width >= variables.$breakpoint-mobile) and (width < variables.$breakpoint-mobile-two) {
    font-size: 1rem;
    line-height: 1.625rem;
  }

  @media screen and (width >= variables.$breakpoint-mobile-two) and (width < variables.$breakpoint-desktops) {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  @media screen and (width >= variables.$breakpoint-desktops) {
    font-size: 1.25rem;
    line-height: 1.875rem;
  }
}

@mixin underlineGreenTitles {
  border-bottom: 0.125rem solid variables.$underline-color;

  @media screen and (width >= variables.$breakpoint-mobile) {
    border-bottom-width: 0.25rem;
  }
}

@mixin underlineGreenLinks {
  padding-bottom: 0.3125rem;
  border-bottom: 0.0625rem solid variables.$underline-color;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0.1429rem;
  text-transform: uppercase;

  @media screen and (width >= variables.$breakpoint-mobile) {
    padding-bottom: 0.625rem;
    border-bottom-width: 0.125rem;
    font-size: 1rem;
    line-height: 1.625rem;
    letter-spacing: 0.175rem;
  }

  @media screen and (width >= variables.$breakpoint-mobile-two) {
    font-size: 1.125rem;
    line-height: 1.75rem;
    letter-spacing: 0.225rem;
  }
}

@mixin typographyInput {
  border-bottom: variables.$border-bottom-line;
  padding-left: 1.25rem;
  padding-bottom: 0.3125rem;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5rem;
  text-transform: uppercase;

  @media screen and (width >= variables.$breakpoint-mobile) and (width < variables.$breakpoint-mobile-two) {
    padding-left: 1.5rem;
    padding-bottom: 0.625rem;
    font-size: 1rem;
    line-height: 1.625rem;
  }

  @media screen and (width >= variables.$breakpoint-mobile-two) and (width < variables.$breakpoint-desktops) {
    font-size: 1.125rem;
    line-height: 1.75rem;
    padding-left: 1.75rem;
    padding-bottom: 0.9375rem;
  }

  @media screen and (width >= variables.$breakpoint-desktops) {
    font-size: 1.25rem;
    line-height: 1.875rem;
    padding-left: 2rem;
    padding-bottom: 1.25rem;
  }
}
