@use "variables" as variables;

@font-face {
  font-family: "Space Grotesk";
  src: url("/src/assets/fonts/space-grotesk/SpaceGrotesk-Medium.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: variables.$background-body;
  font-family: "Space Grotesk";
}

h1,
h2,
h3 {
  color: variables.$title-color;
}

p {
  color: variables.$paragraph-color;
}

a {
  color: variables.$link-color;
  text-decoration: none;
}

img {
  width: inherit;
  height: inherit;
  max-width: 100%;
}

ul {
  list-style: none;
}

input {
  border: none;
  background: none;
  color: variables.$input-color;
  font-family: inherit;
}

input[type="submit"] {
  cursor: pointer;
}

input::placeholder {
  color: variables.$placeholder-color;
}

input:focus {
  outline: none;
}
