@use "base/variables" as variables;

.header {
  .header__div {
    flex-direction: row;
    justify-content: space-between;
    .div__ul {
      max-width: 12.5rem;
    }
  }
}

.main {
  .main__section--introduction::before {
    top: 1rem;
    right: 73%;
  }

  .main__section--introduction {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 5.625rem;
    .section__div {
      grid-column-start: 1 / 2;
      align-items: flex-start;
      gap: 3.75rem;
      .div__div {
        align-items: flex-start;
        .div__h2 {
          display: flex;
          flex-direction: column;
          gap: 0.7rem;
          text-align: start;
        }
      }
      .div__p {
        text-align: start;
      }
    }

    .section__figure {
      max-width: 43.75rem;
    }

    .section__figure::before {
      height: 39.6rem;
    }

    .section__figure {
      position: absolute;
      top: 2.6rem;
      right: -10%;
      width: 50vw;
      height: 30.375rem;
    }
  }

  .main__section--introduction::after {
    top: 25rem;
    left: 100%;
  }

  .main__section--hard-skills {
    border-bottom: none;
    .section__ul {
      width: 100%;
    }

    .section__ul::after {
      bottom: -4rem;
      left: 85%;
    }

    .li__article {
      align-items: flex-start;
      gap: 0.875rem;
      .article__h3 {
        font-size: 3rem;
      }
    }
  }

  .main__section--projects {
    .section__ul {
      grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
      column-gap: 1.25rem;
    }
  }

  .main__section--contact {
    .section__div {
      .div__p {
        margin-top: 2rem;
      }

      .div__form {
        gap: 2rem;
        padding-bottom: 7rem;
        margin-top: 4rem;
        .form__div {
          .div__p::before {
            top: -2.6rem;
            width: 1.5rem;
            height: 1.5rem;
          }
        }
      }
      .div__form::after {
        bottom: 1.5rem;
        right: 80%;
      }
    }
  }
}

.footer {
  .footer__div {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1.875rem;
    padding-bottom: 2.5rem;
    .div__ul {
      max-width: 12.5rem;
    }
  }
}

@media screen and (width >= variables.$breakpoint-tablets-two) {
  .main {
    .main__section--projects {
      .section__ul {
        grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
        column-gap: 2rem;
      }
    }
  }
}
