@font-face {
  font-family: "Space Grotesk";
  src: url("/src/assets/fonts/space-grotesk/SpaceGrotesk-Medium.ttf");
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #151515;
  font-family: "Space Grotesk";
}

h1,
h2,
h3 {
  color: #ffffff;
}

p {
  color: #d9d9d9;
}

a {
  color: #ffffff;
  text-decoration: none;
}

img {
  width: inherit;
  height: inherit;
  max-width: 100%;
}

ul {
  list-style: none;
}

input {
  border: none;
  background: none;
  color: #ffffff;
  font-family: inherit;
}

input[type=submit] {
  cursor: pointer;
}

input::-webkit-input-placeholder {
  color: #919191;
}

input::-moz-placeholder {
  color: #919191;
}

input:-ms-input-placeholder {
  color: #919191;
}

input::-ms-input-placeholder {
  color: #919191;
}

input::placeholder {
  color: #919191;
}

input:focus {
  outline: none;
}