@font-face {
  font-family: "Space Grotesk";
  src: url("/src/assets/fonts/space-grotesk/SpaceGrotesk-Medium.ttf");
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #151515;
  font-family: "Space Grotesk";
}

h1,
h2,
h3 {
  color: #ffffff;
}

p {
  color: #d9d9d9;
}

a {
  color: #ffffff;
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  max-width: 100%;
}

ul {
  list-style: none;
}

input {
  border: none;
  background: none;
  color: #ffffff;
  font-family: inherit;
}

input[type=submit] {
  cursor: pointer;
}

input::-webkit-input-placeholder {
  color: #919191;
}

input::-moz-placeholder {
  color: #919191;
}

input:-ms-input-placeholder {
  color: #919191;
}

input::-ms-input-placeholder {
  color: #919191;
}

input::placeholder {
  color: #919191;
}

input:focus {
  outline: none;
}

.content-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 20rem;
  width: 100%;
  min-height: 20rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  overflow-x: hidden;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  width: 91%;
  margin-top: 0.625rem;
}
.header__h1 {
  font-size: 1.25rem;
}
.header__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55%;
  max-width: 15.625rem;
}
.header__ul .ul__li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.li__a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.li__a .a__svg {
  display: inline-block;
  width: 1.5625rem;
  height: 1.5625rem;
}

@media screen and (width >= 360px) {
  .header {
    gap: 1.25rem;
    margin-top: 1.25rem;
  }
  .header__h1 {
    font-size: 1.5rem;
  }
}
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4.375rem;
  width: 91%;
}
.main .main__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main .main__section--introduction::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: auto;
  left: auto;
  right: 55%;
  z-index: -10;
  display: block;
  width: 33.125rem;
  height: 8.0625rem;
  background-image: url("https://res.cloudinary.com/dbbixakcl/image/upload/f_auto,q_auto/v1/Portafolio/l9iwfpddjdp5koctwmb2");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.main .main__section--introduction {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.25rem;
  margin-top: 4.25rem;
}
.main .main__section--introduction .section__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.125rem;
}
.main .main__section--introduction .section__div .div__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3125rem;
}
.main .main__section--introduction .section__div .div__div .div__h2 {
  display: inline;
  font-size: 1.87rem;
  font-weight: 700;
  line-height: 1.87rem;
}
.main .main__section--introduction .section__div .div__div .div__p {
  display: inline;
  font-size: 1.87rem;
  font-weight: 700;
  color: #ffffff;
}
.main .main__section--introduction .section__div .div__div .div__p .p__span {
  border-bottom: 0.125rem solid #4ee1a0;
}
.main .main__section--introduction .section__div .div__p {
  font-size: 0.76rem;
  font-weight: 500;
  line-height: 1.385rem;
  text-align: center;
}
.main .main__section--introduction .section__div .div__a {
  padding-bottom: 0.3125rem;
  border-bottom: 0.0625rem solid #4ee1a0;
  font-size: 0.76rem;
  font-weight: 700;
  line-height: 1.385rem;
  letter-spacing: 0.1429rem;
  text-transform: uppercase;
}
.main .main__section--introduction .section__figure {
  position: relative;
  width: 58.5%;
  height: 15.125rem;
}
.main .main__section--introduction .section__figure .figure__img {
  -o-object-position: top center;
     object-position: top center;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .main__section--introduction .section__figure::before {
  content: "";
  position: absolute;
  z-index: -10;
  top: -7.3rem;
  display: block;
  width: 100%;
  height: 22.4375rem;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.65%, rgba(36, 36, 36, 0)), to(#242424));
  background: linear-gradient(180deg, rgba(36, 36, 36, 0) 0.65%, #242424 100%);
}
@media screen and (width >= 360px) {
  .main .main__section--introduction .section__div {
    gap: 1.5rem;
  }
  .main .main__section--introduction .section__div .div__div {
    gap: 0.625rem;
  }
  .main .main__section--introduction .section__div .div__div .div__h2 {
    font-size: 2.11rem;
    line-height: 2.11rem;
  }
  .main .main__section--introduction .section__div .div__div .div__p {
    font-size: 2.11rem;
  }
  .main .main__section--introduction .section__div .div__div .div__p .p__span {
    border-bottom: 0.25rem solid #4ee1a0;
  }
  .main .main__section--introduction .section__div .div__p {
    font-size: 1.01rem;
    line-height: 1.635rem;
  }
  .main .main__section--introduction .section__div .div__a {
    border-bottom: 0.125rem solid #4ee1a0;
    font-size: 1.01rem;
    line-height: 1.635rem;
    letter-spacing: 0.175rem;
  }
  .main .main__section--introduction .section__figure {
    height: 18.75rem;
  }
  .main .main__section--introduction .section__figure::before {
    top: -9.2rem;
    height: 28rem;
  }
}
.main .main__section--introduction::after {
  content: "";
  position: absolute;
  top: 7.1rem;
  bottom: auto;
  left: 90%;
  right: auto;
  z-index: -10;
  display: block;
  width: 8.0625rem;
  height: 8.0625rem;
  background-image: url("https://res.cloudinary.com/dbbixakcl/image/upload/f_auto,q_auto/v1/Portafolio/zdc4tyehk77tk1zfduxr");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.main .main__section--hard-skills::before {
  content: "";
  width: 100%;
  height: 0.0625rem;
  margin-bottom: 1.875rem;
  background-color: #ffffff;
}
.main .main__section--hard-skills {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .main__section--hard-skills .section__h2 {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.main .main__section--hard-skills .section__ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.125rem;
}
.main .main__section--hard-skills .section__ul .li__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.2083333333rem;
}
.main .main__section--hard-skills .section__ul .li__article .article__h3 {
  font-size: 1.37rem;
  font-weight: 700;
}
.main .main__section--hard-skills .section__ul .li__article .article__p {
  font-size: 0.76rem;
  font-weight: 500;
}
@media screen and (width >= 360px) {
  .main .main__section--hard-skills .section__ul .li__article .article__h3 {
    font-size: 1.995rem;
  }
  .main .main__section--hard-skills .section__ul .li__article .article__p {
    font-size: 1.135rem;
  }
}
.main .main__section--hard-skills .section__ul::after {
  content: "";
  position: absolute;
  top: auto;
  bottom: -5.9rem;
  left: 60%;
  right: auto;
  z-index: -10;
  display: block;
  width: 33.125rem;
  height: 8.0625rem;
  background-image: url("https://res.cloudinary.com/dbbixakcl/image/upload/f_auto,q_auto/v1/Portafolio/l9iwfpddjdp5koctwmb2");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.main .main__section--hard-skills::after {
  content: "";
  width: 100%;
  height: 0.0625rem;
  margin-top: 1.875rem;
  background-color: #ffffff;
}
.main .main__section--projects {
  gap: 1.875rem;
}
.main .main__section--projects .section__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .main__section--projects .section__div .div__h2 {
  font-size: 1.87rem;
  font-weight: 700;
  line-height: 1.87rem;
}
.main .main__section--projects .section__div .div__a {
  padding-bottom: 0.3125rem;
  border-bottom: 0.0625rem solid #4ee1a0;
  font-size: 0.76rem;
  font-weight: 700;
  letter-spacing: 0.1429rem;
  text-transform: uppercase;
}
.main .main__section--projects .section__ul {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
  gap: 1.875rem;
}
.main .main__section--projects .section__ul .ul__li {
  display: -ms-grid;
  display: grid;
}
.main .main__section--projects .ul__article {
  display: -ms-grid;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(-webkit-min-content, -webkit-max-content));
  grid-template-rows: repeat(auto-fit, minmax(min-content, max-content));
  row-gap: 0.3125rem;
}
.main .main__section--projects .ul__article .article__h3 {
  margin-top: 0.3125rem;
  text-transform: uppercase;
  font-size: 1.25rem;
}
.main .main__section--projects .ul__article .article__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main .main__section--projects .ul__article .article__ul--stack {
  gap: 0.875rem;
}
.main .main__section--projects .ul__article .article__ul--stack .li__p {
  font-size: 0.885rem;
}
.main .main__section--projects .ul__article .article__ul--view {
  gap: 1.125rem;
  margin-top: 0.3125rem;
}
.main .main__section--projects .ul__article .article__ul--view .li__a {
  padding-bottom: 0.3125rem;
  border-bottom: 0.0625rem solid #4ee1a0;
  font-size: 0.76rem;
  font-weight: 700;
  letter-spacing: 0.1429rem;
  text-transform: uppercase;
}
@media screen and (width >= 360px) {
  .main .main__section--projects .section__div .div__h2 {
    font-size: 2.495rem;
  }
  .main .main__section--projects .section__div .div__a {
    border-bottom: 0.125rem solid #4ee1a0;
    font-size: 1.01rem;
    letter-spacing: 0.175rem;
  }
  .main .main__section--projects .ul__article {
    row-gap: 0.625rem;
  }
  .main .main__section--projects .ul__article .article__h3 {
    margin-top: 0.625rem;
    font-size: 1.5rem;
  }
  .main .main__section--projects .ul__article .article__ul--stack {
    gap: 1.125rem;
  }
  .main .main__section--projects .ul__article .article__ul--stack .li__p {
    font-size: 1.135rem;
  }
  .main .main__section--projects .ul__article .article__ul--view {
    gap: 2.125rem;
    margin-top: 0.3125rem;
  }
  .main .main__section--projects .ul__article .article__ul--view .li__a {
    border-bottom: 0.125rem solid #4ee1a0;
    font-size: 1.01rem;
    letter-spacing: 0.175rem;
  }
}

@media screen and (width >= 360px) {
  .main {
    gap: 5rem;
  }
  .main .main__section--introduction::before {
    top: 1rem;
  }
  .main .main__section--introduction {
    gap: 2.875rem;
    margin-top: 5.3125rem;
  }
  .main .main__section--introduction::after {
    top: 10.7rem;
  }
  .main .main__section--hard-skills::before {
    margin-bottom: 2.5rem;
  }
  .main .main__section--hard-skills .section__ul {
    gap: 1.5rem;
  }
  .main .main__section--hard-skills .section__ul::after {
    bottom: -6.5rem;
  }
  .main .main__section--hard-skills::after {
    margin-top: 2.5rem;
  }
  .main .main__section--projects {
    gap: 2.5rem;
  }
}
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  width: 91%;
  margin-bottom: 1.875rem;
}
.footer__p {
  font-size: 1.25rem;
}
.footer__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55%;
  max-width: 15.625rem;
}
.footer__ul .ul__li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.li__a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.li__a .a__svg {
  display: inline-block;
  width: 1.5625rem;
  height: 1.5625rem;
}

@media screen and (width >= 360px) {
  .footer {
    gap: 1.25rem;
    margin-bottom: 3.75rem;
  }
  .footer__p {
    font-size: 1.5rem;
  }
}