@use "base/mixins" as mixins;
@use "base/variables" as variables;

.div__h2 {
  @include mixins.typographyTitles;
}

.div__p {
  @include mixins.typographyParagraphs;
  margin-top: 1rem;
}

.div__form {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  width: 100%;
  margin-top: 2.5rem;
  padding-bottom: 4.375rem;
  .form__input--name,
  .form__input--email {
    @include mixins.typographyInput;
  }

  .form__textarea {
    @include mixins.typographyInput;
    height: 9rem;
  }
  .form__input--submit {
    align-self: flex-end;
    @include mixins.underlineGreenLinks;
  }
}

.div__form::after {
  @include mixins.imageEllipse;
  bottom: 4rem;
  right: 50%;
}

@media screen and (width >= variables.$breakpoint-mobile) {
  .div__form {
    gap: 1.5rem;
    padding-bottom: 5rem;
  }
  .div__form::after {
    bottom: 5.4rem;
  }

  .form__textarea {
    height: 10rem;
  }
}
