@use "base/variables" as variables;
@use "base/mixins" as mixins;

.footer {
  @include mixins.flexCol(0);
  background-color: variables.$background-footer;
  width: 100%;
  .footer__div {
    padding-top: 1.875rem;
    padding-bottom: 3.75rem;
    border-top: variables.$border-bottom-line;
    .div__p {
      font-size: 1.25rem;
    }
    @include mixins.titleSocialsMedia;
  }
}

@media screen and (width >= variables.$breakpoint-mobile) {
  .footer {
    .footer__div {
      padding-top: 2.5rem;
      padding-bottom: 3.75rem;
      .div__p {
        font-size: 1.5rem;
      }
    }
  }
}

@media screen and (width >= variables.$breakpoint-mobile-two) {
  .footer {
    .footer__div {
      padding-top: 2.75rem;
      padding-bottom: 4rem;
      .div__h1 {
        font-size: 1.75rem;
      }
    }
  }
}

@media screen and (width >= variables.$breakpoint-mobile-three) {
  .footer {
    .footer__div {
      padding-top: 3rem;
      padding-bottom: 4.25rem;
      .div__h1 {
        font-size: 2rem;
      }
    }
  }
}
