@use "base/variables" as variables;

.li__article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  .article__h3 {
    font-size: 1.75rem;
    font-weight: 700;
  }
  .article__p {
    font-size: 0.875rem;
    font-weight: 500;
  }
}

@media screen and (width >= variables.$breakpoint-mobile) {
  .li__article {
    gap: 0.4rem;
    .article__h3 {
      font-size: 2rem;
    }
    .article__p {
      font-size: 1rem;
    }
  }
}
