@use "base/variables" as variables;
@use "base/mixins" as mixins;

.section__div {
  @include mixins.flexCol(1.25rem);
  .div__div {
    @include mixins.flexCol(0.125rem);
    .div__h2 {
      display: inline;
      @include mixins.typographyTitles;
    }
    .div__p {
      display: inline;
      @include mixins.typographyTitles;
      .p__span {
        @include mixins.underlineGreenTitles;
      }
    }
  }
  .div__p {
    @include mixins.typographyParagraphs;
  }
  .div__a {
    @include mixins.underlineGreenLinks;
  }
}
.section__figure {
  position: relative;
  width: 58.5%;
  height: 15.125rem;
  .figure__img {
    object-position: top center;
    object-fit: cover;
  }
}

.section__figure::before {
  content: "";
  position: absolute;
  z-index: -10;
  top: -7.3rem;
  display: block;
  width: 100%;
  height: 22.4375rem;
  background: linear-gradient(180deg, rgba(36, 36, 36, 0) 0.65%, #242424 100%);
}

@media screen and (width >= variables.$breakpoint-mobile) {
  .section__div {
    gap: 1.5rem;
  }

  .section__figure {
    height: 18.75rem;
  }

  .section__figure::before {
    top: -9.2rem;
    height: 28rem;
  }
}
