@use "base/mixins" as mixins;
@use "base/variables" as variables;

.main {
  @include mixins.flexCol(0);
  width: 100%;
  .main__section {
    width: 91%;
    display: flex;
    flex-direction: column;
  }
  .main__section--introduction::before {
    @include mixins.imageEllipse;
    top: 2.5rem;
    right: 55%;
  }
  .main__section--introduction {
    position: relative;
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;
    padding-top: 3.5rem;
    padding-bottom: 4.5rem;
    border-bottom: variables.$border-bottom-line;
    @import "introduction";
  }

  .main__section--introduction::after {
    @include mixins.imageCircle;
    top: 10.6rem;
    left: 90%;
  }

  .main__section--hard-skills {
    align-items: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    border-bottom: variables.$border-bottom-line;
    @import "hard-skills";
  }

  .main__section--projects {
    gap: 2rem;
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
    @import "projects";
  }

  .main__section--contact {
    @include mixins.flexCol(0);
    width: 100%;
    padding-top: 3.125rem;
    background-color: variables.$background-footer;
    .section__div {
      @include mixins.flexCol(0);
      width: 91%;
      border-bottom: variables.$border-bottom-line;
      @import "contact";
    }
  }
}

@media screen and (width >= variables.$breakpoint-mobile) {
  .main {
    .main__section--introduction::before {
      top: 4rem;
      right: 60%;
    }
    .main__section--introduction {
      gap: 3rem;
      padding-top: 4.5rem;
      padding-bottom: 5.5rem;
    }
    .main__section--introduction::after {
      top: 15.2rem;
    }

    .main__section--hard-skills {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }

    .main__section--projects {
      gap: 2.5rem;
      padding-top: 5rem;
      padding-bottom: 5rem;
    }

    .main__section--contact {
      padding-top: 3.75rem;
    }
  }
}

@media screen and (width >= variables.$breakpoint-mobile-two) {
  .main {
    .main__section--introduction {
      gap: 3.5rem;
      padding-top: 5rem;
      padding-bottom: 6rem;
    }

    .main__section--hard-skills {
      padding-top: 5rem;
      padding-bottom: 5rem;
    }

    .main__section--projects {
      gap: 3rem;
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
}
