@use "base/variables" as variables;
@use "base/mixins" as mixins;

.section__div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .div__h2 {
    @include mixins.typographyTitles;
  }
  .div__a {
    @include mixins.underlineGreenLinks;
  }
}

.section__ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
  gap: 2rem;
  .ul__li {
    display: grid;
  }
}

.ul__article {
  display: grid;
  .article__h3 {
    margin-top: 1rem;
    @include mixins.typographySubtitles;
  }
  .article__ul {
    display: flex;
  }
  .article__ul--stack {
    gap: 0.4375rem;
    margin-top: 0.25rem;
    .li__p {
      font-size: 1rem;
    }
  }
  .article__ul--view {
    gap: 1.875rem;
    margin-top: 1rem;
    .li__a {
      @include mixins.underlineGreenLinks;
    }
  }
}

@media screen and (width >= variables.$breakpoint-mobile) {
  .ul__article {
    .article__h3 {
      margin-top: 1.25rem;
    }

    .article__ul--stack {
      gap: 0.875rem;
      margin-top: 0.5rem;
      .li__p {
        font-size: 1.125rem;
      }
    }
    .article__ul--view {
      gap: 2rem;
      margin-top: 1.25rem;
    }
  }
}

@media screen and (width >= variables.$breakpoint-mobile-two) {
  .ul__article {
    .article__h3 {
      margin-top: 1.5rem;
    }
  }

  .article__ul--stack {
    gap: 1rem;
    margin-top: 0.75rem;
    .li__p {
      font-size: 1.25rem;
    }
  }

  .article__ul--view {
    gap: 2.25rem;
    margin-top: 1.5rem;
  }
}
