section#contact.main__section.main__section--contact
  div.section__div 
    h2.div__h2 Contact
    p.div__p
      |I would love to hear about your project and how I can help you. 
      |Complete the form and I will send you a message to your email shortly.
    form(action="https://formsubmit.co/8cd8a43fcbc38ea559f3de65aa6cc315 " method="POST").div__form
      div.form__div 
        input(type="text" name="name" id="name" minlength="3" autocomplete="given-name" placeholder="name" aria-label="Name").form__input.form__input--name
        p.div__p.div__p--error
      div.form__div
        input(type="email" name="email" id="email" minlength="10" autocomplete="email" placeholder="email" aria-label="Email").form__input.form__input--email
        p.div__p.div__p--error
      div.form__div 
        textarea(name="message" cols="30" rows="10" minlength="20" placeholder="message").form__textarea
        p.div__p.div__p--error
      input(type="text" name="bot_trap" id="bot_trap")
      input(type="submit" value="send message").form__input.form__input--submit
      input(type="hidden" name="_next" value="https://www.brandonaguero.com/").form__input.form__input--next
      input(type="hidden" name="_captcha" value="false").form__input.form__input--captcha