section#contact.main__section.main__section--contact
  h2.section__h2 Contact
  p.section__p
    |I would love to hear about your project and how I can help you. 
    |Complete the form and I will send you a message to your email shortly."
  form.section__form
    input(type="text" name="name" id="name" autocomplete="given-name" placeholder="name" aria-label="Name").form__input.form__input--name
    input(type="text" name="email" id="email" autocomplete="email" placeholder="email" aria-label="Email").form__input.form__input--email
    input(type="text" name="message" id="message" autocomplete="off" placeholder="message" aria-label="Message").form__input.form__input--message
    input(type="submit" value="send message").form__input.form__input--submit