head 
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  title Brandon Agüero
  link(rel="icon" type="image/ico" href="https://res.cloudinary.com/dbbixakcl/image/upload/f_auto,q_auto/v1/Portafolio/epaw7kcyuwsq7eiyrrqg")
  link(rel="stylesheet" href="/src/css/styles.css")
  link(rel="stylesheet" href="/src/css/tablets.css" media="(width >= 768px)")