section.main__section.main__section--introduction
  div.section__div
    div.div__div 
      h2.section__h2 Nice to meet you!
      p.div__p I'm Brandon Agüero
    p.section__p Based in Peru, I&apos;m a full-stack developer developer passionate about building accessible web apps that users love.
    a(href="#contact").section__a Contact Me 
  figure.section__figure
    picture.figure__picture
      img(src="https://res.cloudinary.com/dbbixakcl/image/upload/f_auto,q_auto/v1/Portafolio/osh24hqe9ho9tc1ttage" alt="Profile image in black and white").picture__img