section.main__section.main__section--introduction
  div.section__div
    div.div__div 
      h2.div__h2 
        span.h2__span Nice to 
        span.h2__span meet you! I'm 
        span.h2__span Brandon Agüero.
    p.div__p Based in Peru, I&apos;m a full-stack developer developer passionate about building accessible web apps that users love.
    a(href="#contact").div__a Contact Me 
  figure.section__figure
    img(src="https://res.cloudinary.com/dbbixakcl/image/upload/f_auto,q_auto/v1/Portafolio/osh24hqe9ho9tc1ttage" alt="Profile image in black and white").figure__img